.gjs-pn-devices-c {
    /*display: none !important;*/
}

 .gjs-one-bg {
    background-color: #f6f6f6 !important; /* Устанавливаем желаемый цвет фона */
}

#editor .gjs-four-color-h:hover {
    color: #2755e0 !important;
}

#editor .gjs-field input, .gjs-field select, .gjs-four-color, .gjs-field textarea {
    color: #2755e0 !important;
}

.gjs-two-color {
    color: #858585 !important;
}

.gjs-cv-canvas {
    border: 1px solid #c4c4c4 !important;
}

.gjs-pn-commands {
    width: calc(100% ) !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: 0 0 2px var(--gjs-main-dark-color) !important;
}

.a4-page {
    width: 1123px; /* Ширина A4 */
    height: 1587px; /* Высота A4 */
    page-break-after: always; /* Разрыв страницы при печати */
    border: 1px solid #ccc; /* Визуальная граница */
    margin-bottom: 20px; /* Отступ между страницами */
    overflow: hidden; /* Обрезка лишнего */
}

